* text=auto !eol
/ChangeLog -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/README.opsb -text
/README.opsb.html -text
/README.opsb.xml -text
/RELNOTES -text
/aclocal.m4 -text
/configure -text
/configure.in -text
/html.css -text
/install-sh -text
/modconfig.h.in -text
/modconfigwin32.h -text
/opsb.Settings -text
/opsb.vcproj -text
/pulse.xml -text
