* text=auto !eol
/ChangeLog -text
/LICENSE -text
/Makefile.in -text
/OPSB.xml -text
/README.opsb -text
/README.opsb.html -text
/aclocal.m4 -text
/configure -text
/configure.in -text
/exempts.c -text
/exempts.h -text
/html.css -text
/install-sh -text
libopm/.cvsignore -text
libopm/LICENSE -text
libopm/Makefile.in -text
libopm/README -text
libopm/compat.c -text
libopm/compat.h -text
libopm/config.c -text
libopm/config.h -text
libopm/inet.c -text
libopm/inet.h -text
libopm/libopm.c -text
libopm/libopm.h -text
libopm/list.c -text
libopm/list.h -text
libopm/malloc.c -text
libopm/malloc.h -text
libopm/opm.h -text
libopm/opm_common.h -text
libopm/opm_error.h -text
libopm/opm_types.h -text
libopm/proxy.c -text
libopm/proxy.h -text
libopm/test.c -text
/modconfig.h.in -text
/opsb.Settings -text
/opsb.c -text
/opsb.h -text
/opsb_help.c -text
/proxy.c -text
